VITE_API_BASE_URL=http://localhost:8080/api
VITE_EXTENSION_INSTALL_URL=
VITE_EXTENSION_ID=ikpeibohnopmikegoogggmdipmhmiadi
VITE_GOOGLE_CLIENT_ID=
VITE_GOOGLE_REDIRECT_URI=http://localhost:5173/login/callback
